.title{
    font-size: 30px;
    font-weight: 800;
    position: relative;
}

.github-logo{
 font-size: 30px;
 /* color: rgb(0, 0, 0); */

}

.search-input{
    /* margin-top: 15px; */
    width: 800px;
    height: 40px;
    border-radius: 0%;
    border: 1px solid black;
    
    


    
}

/* .button{
    width: 10px;
    /* height: 55px; */
    /* display: flex; */
    /* font-weight: 600; */
    /* border-radius: 0%;    */
    /* background-color: #dddddd;; */
    /* color: black; */
    /* font-weight:800; */
    /* position: relative; */
    /* left: 810px; */
    /* bottom: 65px; */
/* } */

.dropdown-menu{
    width: 150px;
    height: 40px;
    display: flex;
    font-weight: 600;
    border-radius: 0%;   
    background-color: #dddddd;;
    color: black;
    font-weight:800;
    position: relative;
    left: 810px;
    bottom: 55px;
    overflow-x: hidden;

}